body {
  background: rgba(123, 189, 189, 0.98);
  margin-top: 40px;
}

.center {
  text-align: center;
}

h1 {
text-align: center;
  font-weight: bold;
  color: #ffe431;
font-size: 35px;
}
  
h2 {
  font-weight: bold;
  color: red;
  font-size: 27px;
}

p {
  font-size: 20px;
  color: #c30094;
  font-weight: bold;
}

li{
  font-size: 20px;
  color: #c30094;
  font-weight: bold;
  height: 40px;
  width: 100px;
}

ul{
  margin-left: 200px;
}

.membersintro {
  font-weight: 200;
  color: red;
  font-size: 22px;
}


table, th, td { 
  border: 3px solid red;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

th, td {
  color: #c30094;
  font-size: 19px;
  text-align: center
}


.links {
  border: 2px solid blue;
  padding: 20px;
  border-collapse: collapse;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}  

.forms {
  font-size: 22px;
  color: #7400df;
  text-decoration: underline;
}

  .forms:visited, .links:visited{
  text-decoration: underline;
  color:#7400df;
}



.tylerwide {
  background-image: url("tyler.jpg");
  border-radius: 50%;
  width: 850px;
  height: 600px;
  display:block;
  margin-left:auto;
  margin-right: auto;
  border: 10px dotted;
  border-color: #c30094;
}
 
.tylerwide:hover {
  filter: contrast(100);
  border-radius: 50%;
  width: 95%;
  height: 600px;
  margin-left:auto;
  margin-right: auto;
  border: 10px dotted;
  border-color: #c30094;
  transition: 4s ease;
}

.joinclub {
  float: right;
  margin-right: 10px;
}

.joinclub:hover{
  background-image: url("tyler.jpg");
  border-radius: 100px;
}




.picsize{
  height: 1200px;
  width: 200px;
  position: absolute;
  top: 500px;
  left: 1000px;
}


.tyler:hover, .joel:hover {
  color:blue;
}

.pic0{
  z-index: 1;
}

.tyler, .joel{
  z-index: 0;
}

.tyler:hover .tylerpic{
  z-index: 2;
}

.joel:hover .joelpic{
  z-index: 2;
}



